{
  "tabWidth": 2,
  "overrides": [
    {
      "files": ["*.js"],
      "options": {
        "printWidth": 100,
        "singleQuote": true,
        "arrowParens": "avoid",
        "endOfLine": "lf",
        "trailingComma": "all",
        "quoteProps": "as-needed",
        "bracketSpacing": true,
        "useTabs": true
      }
    }
  ]
}
