@media (prefers-color-scheme: light) {
  .red,
  .red-clr {
    --med-color: #f66151;
  }
  .orange,
  .orange-clr {
    --med-color: #ff9100;
  }
  .yellow,
  .yellow-clr {
    --med-color: #e0a004;
  }
  .green,
  .green-clr {
    --med-color: #26a269;
  }
  .cyan,
  .cyan-clr {
    --med-color: #00c4cf;
  }
  .blue,
  .blue-clr {
    --med-color: #1c71d8;
  }
  .purple,
  .purple-clr {
    --med-color: #9141ac;
  }
  .default,
  .default-clr {
    --med-color: #6b6d6e;
  }
}
@media (prefers-color-scheme: dark) {
  .red,
  .red-clr {
    --med-color: #ff7f70;
  }
  .orange,
  .orange-clr {
    --med-color: #ffa348;
  }
  .yellow,
  .yellow-clr {
    --med-color: #f8e45c;
  }
  .green,
  .green-clr {
    --med-color: #57e389;
  }
  .cyan,
  .cyan-clr {
    --med-color: #4be2eb;
  }
  .blue,
  .blue-clr {
    --med-color: #73a9ff;
  }
  .purple,
  .purple-clr {
    --med-color: #ad7cfd;
  }
  .default,
  .default-clr {
    --med-color: #d0d0d6;
  }
}

item-box checkbutton check:checked {
  color: var(--window-bg-color);
  background-color: var(--med-color);
}

.med-icon {
  background-color: rgb(from var(--med-color) r g b / calc(alpha * 0.135));
  color: var(--med-color);
  padding: 8px;
  border-radius: 99px;
}

/* med dialog buttons */
.red-clr,
.orange-clr,
.yellow-clr,
.green-clr,
.cyan-clr,
.blue-clr,
.purple-clr {
  border-radius: 99px;
  color: var(--med-color);
  box-shadow: inset 0 0 10px 1px
    color-mix(in srgb, currentColor 20%, transparent);
}
.red-clr:not(menubutton):hover,
.orange-clr:not(menubutton):hover,
.yellow-clr:not(menubutton):hover,
.green-clr:not(menubutton):hover,
.cyan-clr:not(menubutton):hover,
.blue-clr:not(menubutton):hover,
.purple-clr:not(menubutton):hover {
  box-shadow: inset 0 0 10px 1px
    color-mix(in srgb, currentColor 50%, transparent);
}
@media (prefers-contrast: more) {
  .red-clr,
  .orange-clr,
  .yellow-clr,
  .green-clr,
  .cyan-clr,
  .blue-clr,
  .purple-clr {
    box-shadow: inset 0 0 0 1px
        rgb(from currentColor r g b / calc(alpha * 0.85)),
      inset 0 0 10px 1px color-mix(in srgb, currentColor 20%, transparent);
  }
  .red-clr:not(menubutton):hover,
  .orange-clr:not(menubutton):hover,
  .yellow-clr:not(menubutton):hover,
  .green-clr:not(menubutton):hover,
  .cyan-clr:not(menubutton):hover,
  .blue-clr:not(menubutton):hover,
  .purple-clr:not(menubutton):hover {
    box-shadow: inset 0 0 0 1px
        rgb(from currentColor r g b / calc(alpha * 0.85)),
      inset 0 0 10px 1px color-mix(in srgb, currentColor 50%, transparent);
  }
}
