.time-box spinbutton button {
  box-shadow: inset 0 0 0 1px
    rgb(from var(--border-color) r g b / calc(alpha * 0.8));
}

button.floating:not(.suggested-action) {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2),
    inset 0 0 0 1px var(--border-color);
}

.dosage-list > row > box {
  box-shadow: inset 0 0 0 1px
    rgb(from var(--border-color) r g b / calc(alpha * 1));
}
.dosage-list.today > row > box:dir(ltr),
.dosage-list.today > row:hover > box:dir(ltr),
.dosage-list.today > row:active > box:dir(ltr) {
  box-shadow: inset 23px 0 0 -20px rgb(from currentColor r g b /
          calc(alpha * 0.25)),
    inset 0 0 0 1px rgb(from var(--border-color) r g b / calc(alpha * 1));
}
.dosage-list.today > row > box:dir(rtl),
.dosage-list.today > row:hover > box:dir(rtl),
.dosage-list.today > row:active > box:dir(rtl) {
  box-shadow: inset -23px 0 0 -20px
      rgb(from currentColor r g b / calc(alpha * 0.25)),
    inset 0 0 0 1px rgb(from var(--border-color) r g b / calc(alpha * 1));
}

.boxed-list-separate > row {
  box-shadow: inset 0 0 0 1px
    rgb(from var(--border-color) r g b / calc(alpha * 0.8));
}

.red-clr,
.orange-clr,
.yellow-clr,
.green-clr,
.cyan-clr,
.blue-clr,
.purple-clr {
  box-shadow: inset 0 0 0 1px alpha(currentColor, 0.85);
}

#medication-dialog .linked-circular button:checked,
row.combo .dropdown-arrow {
  box-shadow: inset 0 0 0 1px alpha(currentColor, 0.6);
}
