@import "./card-colors.css";

:root {
  --window-bg-color: #fafafb;
  --window-fg-color: #323238;

  --popover-bg-color: color-mix(
    in srgb,
    var(--view-bg-color) 100%,
    var(--window-fg-color) 2%
  );
  --popover-fg-color: var(--window-fg-color);

  --dialog-bg-color: var(--popover-bg-color);
  --dialog-fg-color: var(--popover-fg-color);

  --card-bg-color: color-mix(in srgb, #ebebed 99%, var(--accent-color));

  --list-border-radius: 8px;
  --list-border: inset 0 0 0 1px
    rgb(from var(--border-color) r g b / calc(alpha * 0.35));
  --list-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.055);
}

.scrollbar-visible > scrollbar.vertical:dir(ltr),
preferencespage scrolledwindow > scrollbar.vertical:dir(ltr) {
  margin-left: -8px;
}
.scrollbar-visible > scrollbar.vertical:dir(rtl),
preferencespage scrolledwindow > scrollbar.vertical:dir(rtl) {
  margin-right: -8px;
}

#medication-dialog row#delete {
  --list-border: inset 0 0 0 1px
    rgb(from var(--card-fg-color) r g b / calc(alpha * 0.043));
}

statuspage .icon {
  margin-top: -30px;
}
statuspage .title {
  margin-bottom: 32px;
}

#preferences scrolledwindow viewport clamp {
  margin-top: -26px;
  margin-bottom: -6px;
}

dialog.about .boxed-list,
#edit-hist-dialog .boxed-list {
  box-shadow: var(--list-border), var(--list-shadow);
  border-radius: var(--list-border-radius);
}
dialog.about .main-page box.vertical {
  border-spacing: 5px;
}
dialog.about sheet scrolledwindow clamp {
  padding: 0 3px;
}
listview > header {
  padding: 2px;
  padding-top: 12px;
  padding-bottom: 1px;
  min-height: 21px;
}

.item-box {
  box-shadow: var(--list-border), var(--list-shadow);
  border-radius: var(--list-border-radius);
  min-height: 46px;
  padding: 5px 0;
}
.item-box > box > label.title:first-child {
  margin-top: -4px;
}
.item-box > box > label.subtitle:last-child {
  margin-bottom: -4px;
}

.item-box check {
	transition: all 150ms ease-in;
}

.dosage-list > row .item-box {
  transition: background 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.dosage-list > row:hover .item-box {
  background-image: image(color-mix(in srgb, currentColor 3%, transparent));
}
.dosage-list > row:active .item-box {
  background-image: image(color-mix(in srgb, currentColor 8%, transparent));
}

.card-stripe:dir(ltr) {
  box-shadow: var(--list-border), var(--list-shadow),
    inset 23px 0 0 -20px rgb(from currentColor r g b / calc(alpha * 0.3));
}
.card-stripe:dir(rtl) {
  box-shadow: var(--list-border), var(--list-shadow),
    inset -23px 0 0 -20px rgb(from currentColor r g b / calc(alpha * 0.3));
}
.card-stripe-w-n:dir(ltr) {
  box-shadow: var(--list-border), var(--list-shadow),
    inset 23px 0 0 -20px rgb(from currentColor r g b / calc(alpha * 0.13));
}
.card-stripe-w-n:dir(rtl) {
  box-shadow: var(--list-border), var(--list-shadow),
    inset -23px 0 0 -20px rgb(from currentColor r g b / calc(alpha * 0.13));
}

.dosage-list > row {
  border-radius: calc(var(--list-border-radius) + 2px);
  background: none;
}
.dosage-list {
  margin: 0 10px;
  padding-bottom: 20px;
  background-color: transparent;
}
.dosage-list {
  padding-bottom: 69px;
}
.list-no-extra-padding-bottom {
  padding-bottom: 20px;
}
row.expander row.spin:focus-within {
  outline: 2px solid rgb(from var(--accent-color) r g b / calc(alpha * 0.5));
  outline-offset: -2px;
}
list.boxed-list > row:first-child,
list.boxed-list-separate > row.expander row.header {
  border-top-left-radius: var(--list-border-radius);
  border-top-right-radius: var(--list-border-radius);
}
list.boxed-list > row:last-child {
  border-bottom-left-radius: var(--list-border-radius);
  border-bottom-right-radius: var(--list-border-radius);
}
list.boxed-list-separate > row.expander:not(:checked) row.header,
list.boxed-list-separate > row.expander.expander:checked list.nested,
list.boxed-list-separate
  > row.expander.expander:checked
  list.nested
  > row:last-child {
  border-bottom-left-radius: var(--list-border-radius);
  border-bottom-right-radius: var(--list-border-radius);
}
.boxed-list-separate > row {
  box-shadow: var(--list-border), var(--list-shadow);
  border-radius: var(--list-border-radius);
  margin: 2px 0;
}
.boxed-list {
  box-shadow: var(--list-border), var(--list-shadow);
  border-radius: var(--list-border-radius);
  margin: 2px 0;
}
button.specific-day {
  min-width: 40px;
  padding-left: 0;
  padding-right: 0;
}
.popover-scrolled > contents {
  padding: 5px 10px;
}
.one-time-menu popover contents:dir(ltr) {
  padding: 6px;
  padding-right: 0;
}
.one-time-menu popover contents:dir(rtl) {
  padding: 6px;
  padding-left: 0;
}
button.arrow-button,
button.one-time-name {
  font-weight: 400;
}
row.combo popover > contents listview row {
  padding-top: 8px;
  padding-bottom: 8px;
}
#medication-dialog.one-time .time > .arrow-button {
  margin-left: -6px;
}
row.combo .dropdown-arrow {
  background-color: rgb(from currentColor r g b / calc(alpha * 0.1));
  min-height: 34px;
  padding: 0 9px;
  border-radius: 99px;
  transition: background-color 300ms;
}
row.combo .dropdown-arrow:hover {
  background-color: rgb(from currentColor r g b / calc(alpha * 0.15));
}

/*
When using ListView.scroll_to(0) the view will scroll
to the first item instead of the first header.
The same thing happens in today list when confirming
so use this little hack to scroll to header instead
*/
listview.scroll-to-top-hack > :nth-child(1) {
  margin-bottom: -34px;
}
listview.scroll-to-top-hack > :nth-child(2) {
  margin-top: 34px;
}

button.time-group-selection {
  transition: all 150ms;
  min-height: 18px;
  padding: 2px;
  margin: 0 -2px -1px;
  background-size: 10px;
  background-repeat: no-repeat;
}
button.time-group-selection:dir(ltr) {
  background-position: 92% 50%;
}
button.time-group-selection:dir(rtl) {
  background-position: 6% 50%;
}
button.time-group-selection:hover:dir(ltr) {
  padding-right: 18px;
}
button.time-group-selection:hover:dir(rtl) {
  padding-left: 18px;
}
button.time-group-selection:hover {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='16px' viewBox='0 0 16 16' width='16px'%3E%3Cfilter id='a' height='100%25' width='100%25' x='0%25' y='0%25'%3E%3CfeColorMatrix color-interpolation-filters='sRGB' values='0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 0'/%3E%3C/filter%3E%3Cmask id='b'%3E%3Cg filter='url(%23a)'%3E%3Cpath d='m -1.6 -1.6 h 19.2 v 19.2 h -19.2 z' fill-opacity='.5'/%3E%3C/g%3E%3C/mask%3E%3CclipPath id='c'%3E%3Cpath d='m 0 0 h 1600 v 1200 h -1600 z'/%3E%3C/clipPath%3E%3Cmask id='d'%3E%3Cg filter='url(%23a)'%3E%3Cpath d='m -1.6 -1.6 h 19.2 v 19.2 h -19.2 z' fill-opacity='.7'/%3E%3C/g%3E%3C/mask%3E%3CclipPath id='e'%3E%3Cpath d='m 0 0 h 1600 v 1200 h -1600 z'/%3E%3C/clipPath%3E%3Cmask id='f'%3E%3Cg filter='url(%23a)'%3E%3Cpath d='m -1.6 -1.6 h 19.2 v 19.2 h -19.2 z' fill-opacity='.35'/%3E%3C/g%3E%3C/mask%3E%3CclipPath id='g'%3E%3Cpath d='m 0 0 h 1600 v 1200 h -1600 z'/%3E%3C/clipPath%3E%3Cpath d='m 15 3.484375 l -1 -1 l -7.46875 7.515625 l -3.414062 -3.476562 l -2 2 l 5.414062 5.476562 l 9.46875 -9.515625 z m 0 0' fill='%23323238'/%3E%3Cg mask='url(%23b)'%3E%3Cg clip-path='url(%23c)' transform='matrix(1 0 0 1 -560 -520)'%3E%3Cpath d='m 550 182 c -.351562 .003906 -.695312 .101562 -1 .28125 v 3.4375 c .304688 .179688 .648438 .277344 1 .28125 c 1.105469 0 2 -.894531 2 -2 s -.894531 -2 -2 -2 z m 0 5 c -.339844 0 -.679688 .058594 -1 .175781 v 6.824219 h 4 v -4 c 0 -1.65625 -1.34375 -3 -3 -3 z m 0 0'/%3E%3C/g%3E%3C/g%3E%3Cg mask='url(%23d)'%3E%3Cg clip-path='url(%23e)' transform='matrix(1 0 0 1 -560 -520)'%3E%3Cpath d='m 569 182 v 4 c 1.105469 0 2 -.894531 2 -2 s -.894531 -2 -2 -2 z m 0 5 v 7 h 3 v -4 c 0 -1.65625 -1.34375 -3 -3 -3 z m 0 0'/%3E%3C/g%3E%3C/g%3E%3Cg mask='url(%23f)'%3E%3Cg clip-path='url(%23g)' transform='matrix(1 0 0 1 -560 -520)'%3E%3Cpath d='m 573 182.269531 v 3.449219 c .613281 -.355469 .996094 -1.007812 1 -1.71875 c 0 -.714844 -.382812 -1.375 -1 -1.730469 z m 0 4.90625 v 6.824219 h 2 v -4 c 0 -1.269531 -.800781 -2.402344 -2 -2.824219 z m 0 0'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

.t-d-row box.suffixes > spinbutton > text:dir(ltr) {
  margin-left: -18px;
}
.t-d-row box.suffixes > spinbutton > text:dir(rtl) {
  margin-right: -18px;
}
.time-picker-box spinbutton {
  border-radius: 99px;
  margin: 4px 0;
  padding: 3px;
  outline: none;
}
.time-picker-box spinbutton text {
  margin: 4px 0;
  transition: all 150ms;
}
row.spin .time-picker-box spinbutton {
  margin: 0;
}
row.spin .time-picker-box spinbutton text {
  margin: -2px 0;
}
.time-picker-box spinbutton button {
  padding: 0;
  margin: 0;
  min-height: 30px;
  min-width: 30px;
  border-radius: 99px;
  border-bottom: none;
  background-color: rgb(from currentColor r g b / calc(alpha * 0.1));
}
.time-picker-box spinbutton button:hover {
  background-color: rgb(from currentColor r g b / calc(alpha * 0.15));
}
.time-picker-box spinbutton button:active {
  background-color: rgb(from currentColor r g b / calc(alpha * 0.2));
}

.today-amount > button {
  min-width: 30px;
  min-height: 30px;
}
.spin-box > row.spin > box {
  margin: -3px 4px -3px 8px;
}
.spin-today-amount:dir(ltr) > row.spin > box {
  margin-left: -16px;
}
.spin-box row.spin {
  outline: none;
}

button.badge-box:hover {
  background-color: rgb(from currentColor r g b / calc(alpha * 0.2));
}
button.badge-box:active {
  background-color: rgb(from currentColor r g b / calc(alpha * 0.3));
}
.badge-box.low-stock {
  box-shadow: inset 0 0 0 1px rgb(from currentColor r g b / calc(alpha * 0.2));
  color: currentColor;
}
.badge-box {
  color: rgb(from currentColor r g b / calc(alpha * 0.85));
  min-height: 16px;
  background-color: rgb(from currentColor r g b / calc(alpha * 0.13));
  border-radius: 99px;
}
.badge-content {
  padding: 4px 8px;
  border-radius: 99px;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 0.94em;
}
.history .badge-content {
  text-transform: none;
}
.badge-icon {
  background-color: rgb(from currentColor r g b / calc(alpha * 0.1));
  padding: 0 5px;
}
.badge-icon:dir(ltr) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-left: 4px;
  margin-left: -4px;
}
.badge-icon:dir(rtl) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-right: 4px;
  margin-right: -4px;
}

.empty-history,
.empty-today,
.empty-treatments {
  font-size: 24px;
  font-weight: 700;
}
.empty-icon {
  margin-top: 2px;
  margin-bottom: 16px;
  -gtk-icon-size: 64px;
  opacity: 0.75;
}

button.secondary.floating {
  padding-left: 10px;
  padding-right: 10px;
}
button.floating.secondary image {
  min-width: 1.2em;
}
button.floating {
  box-shadow: 0 0 0 1px rgba(90, 90, 90, 0.1),
    0 1px 2px 1px rgba(90, 90, 90, 0.1);
  margin: 10px 4px;
}
button.floating:hover {
  box-shadow: 0 0 0 1px rgba(90, 90, 90, 0.15),
    0 1px 2px 1px rgba(90, 90, 90, 0.15);
}
button.floating:not(.suggested-action) {
  background-color: color-mix(in srgb, #ebebed 99%, var(--accent-color));
}
button.floating:not(.suggested-action):hover {
  background-color: color-mix(in srgb, #e3e3e5 99%, var(--accent-color));
}
button.floating:not(.suggested-action):active {
  background-color: color-mix(in srgb, #dadadc 99%, var(--accent-color));
}
button.floating.destructive-action {
  background-color: color-mix(in srgb, #f7dddd 99%, var(--accent-color));
}
button.floating.destructive-action:hover {
  background-color: color-mix(in srgb, #edd3d3 99%, var(--accent-color));
}
button.floating.destructive-action:active {
  background-color: color-mix(in srgb, #e3c9c9 99%, var(--accent-color));
}

#medication-dialog headerbar button,
#edit-hist-dialog headerbar button {
  min-width: 56px;
}
.linked-custom {
  background: rgb(from currentColor r g b / calc(alpha * 0.1));
  border-radius: 8px;
  padding: 3px;
}
.linked-custom button {
  min-height: 26px;
  min-width: 30px;
  padding: 1px;
}
.linked-custom button:checked {
  background: var(--window-bg-color);
  box-shadow: 0 1px 2px 1px rgb(from black r g b / calc(alpha * 0.1));
}
.popover-calendar contents {
  padding: 1px;
}
calendar {
  padding: 5px 4px;
  border-color: transparent;
  background-color: transparent;
}
calendar button,
calendar .day-number {
  border-radius: 99px;
}
calendar button,
calendar .month,
calendar .year {
  margin-bottom: 5px;
  margin-top: -1px;
}
calendar .month label,
calendar .year,
calendar .day-name {
  font-weight: bold;
  text-transform: capitalize;
}
calendar .day-name {
  opacity: 0.5;
}
calendar .day-number {
  border-radius: 99px;
  padding: 2px 0;
  min-width: 28px;
  min-height: 28px;
}
.calendar-error {
  border-radius: 10px;
  animation: flashCalendar 0.8s;
}
@keyframes flashCalendar {
  10% {
    background-color: rgb(
      from var(--error-bg-color) r g b / calc(alpha * 0.33)
    );
  }
}
