:root,
.boxed-list,
.boxed-list-separate,
#medication-dialog row#delete {
  --list-border: inset 0 0 0 1px var(--border-color);
}

.time-box spinbutton button {
  box-shadow: inset 0 0 0 1px
    rgb(from var(--border-color) r g b / calc(alpha * 0.8));
}

.badge-box.low-stock {
  box-shadow: inset 0 0 0 1px var(--border-color);
}

button.floating:not(.suggested-action) {
  box-shadow: inset 0 0 0 1px var(--border-color),
    0 1px 2px 1px rgba(90, 90, 90, 0.1);
  margin: 10px 4px;
}

.red-clr,
.orange-clr,
.yellow-clr,
.green-clr,
.cyan-clr,
.blue-clr,
.purple-clr {
  box-shadow: inset 0 0 0 1px rgb(from currentColor r g b / calc(alpha * 0.85));
}

#medication-dialog .linked-circular button:checked {
  box-shadow: 0 1px 2px 1px rgb(from black r g b / calc(alpha * 0.1)),
    inset 0 0 0 1px rgb(from currentColor r g b / calc(alpha * 0.6));
}

row.combo .dropdown-arrow {
  box-shadow: inset 0 0 0 1px rgb(from currentColor r g b / calc(alpha * 0.6));
}
