popover contents {
	border: 1px solid alpha(currentColor, 0.6);
}

.badge {
	border: 1px solid alpha(currentColor, 0.66);
	opacity: 0.8;
}

.low-stock-badge {
	border: 1px solid alpha(currentColor, 0.9);
	opacity: 1;
}

.boxed-list > row,
.custom-list > row > box,
.time-box spinbutton button,
spinbutton.every-x button,
button.pill:not(.suggested-action) {
	box-shadow: inset 0 0 0 1px alpha(currentColor, 0.6);
}

.button-end > button {
	box-shadow: none;
}

.button-end > button:hover {
	box-shadow: inset 0 0 0 1px alpha(currentColor, 0.5);
}

row.error {
	box-shadow: inset 0 0 0 1px alpha(currentColor, 0.85);
}

.red-clr,
.orange-clr,
.yellow-clr,
.green-clr,
.cyan-clr,
.blue-clr,
.purple-clr {
	box-shadow: inset 0 0 0 1px alpha(currentColor, 0.85);
}

row.combo .dropdown-arrow {
	box-shadow: inset 0 0 0 1px alpha(currentColor, 0.6);
}
